/*$ VARIABLES $*/

:root {
	/** SPACING VARIABLES **/
	/* PADDINGS */
	--pad-l: 0px;
	--pad-r: 0px;

	/* MARGINS */
	--mar-l: 0px;
	--mar-r: 0px;

	/* PAGE SPACING */

	--site-gap-side-bg: 15rem;

	--site-gap-bg: 10rem;
	--site-gap: 5rem;
	--site-gap-sm: 2.5rem;
	--site-gap-x-sm: 1rem;
	/** END SPACING VARIABLES **/
}

/*$ END VARIABLES $*/
/*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/
/*$ BOX MODEL $*/

/** STANDARD BOX MODEL **/
html {
	--box-modell: content-box;
	box-sizing: var(--box-modell);
}

/** ALTERNATIVE BOX MODEL **/
.border-box {
	--box-modell: border-box;
	box-sizing: var(--box-modell);
}

/*$ END BOX MODEL $*/
/*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/
/*$ COLUMN STRUCTURE $*/

/** 1 COLUMN **/
/*? FOR 1 COLUMN ALSO .f-dir-col USEABLE ?*/
.col-100 {
	--col: 1;
	width: calc(1 / var(--col) * 100%);
}

.col-75 {
	--col: calc(1 / 0.75);
	width: calc(1 / var(--col) * 100%);
}

/** 2 COLUMNS **/
.col-50 {
	--col: 2;
	width: calc(1 / var(--col) * 100%);
}

/** 3 COLUMNS **/
.col-33 {
	--col: 3;
	width: calc(1 / var(--col) * 100%);
}

/** 4 COLUMNS **/
.col-25 {
	--col: 4;
	width: calc(1 / var(--col) * 100%);
}

/*$ SPACING CLASSES $*/

/** PADDING-LEFT **/
.pad-l {
	padding-left: var(--pad-l);
}

/** PADDING-RIGHT **/
.pad-r {
	padding-right: var(--pad-r);
}

/** MARGIN-LEFT **/
.mar-l {
	margin-left: var(--mar-l);
}

/** MARGIN-RIGHT **/
.mar-r {
	margin-right: var(--mar-r);
}

/*$ END COLUMN STRUCTURE $*/
/*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/
/*$ COLUMN CALCULATION WITH SPACING CLASSES $*/

html:not(.border-box) [class*="col-"].pad-r {
	width: calc(calc(1 / var(--col) * 100%) - var(--pad-r));
}

html:not(.border-box) [class*="col-"].pad-l {
	width: calc(calc(1 / var(--col) * 100%) - var(--pad-l));
}

[class*="col-"].mar-r {
	width: calc(calc(1 / var(--col) * 100%) - var(--mar-r));
}

[class*="col-"].mar-l {
	width: calc(calc(1 / var(--col) * 100%) - var(--mar-l));
}

[class*="col-"].mar-r.mar-l {
	width: calc(calc(1 / var(--col) * 100%) - var(--mar-l) - var(--mar-r));
}

html:not(.border-box) [class*="col-"].pad-l.pad-r {
	width: calc(calc(1 / var(--col) * 100%) - var(--pad-r) - var(--pad-l));
}

html:not(.border-box) [class*="col-"].mar-r.pad-r {
	width: calc(calc(1 / var(--col) * 100%) - var(--mar-r) - var(--pad-r));
}

html:not(.border-box) [class*="col-"].mar-l.pad-l {
	width: calc(calc(1 / var(--col) * 100%) - var(--mar-l) - var(--pad-l));
}

html:not(.border-box) [class*="col-"].mar-l.pad-r {
	width: calc(calc(1 / var(--col) * 100%) - var(--mar-l) - var(--pad-r));
}

html:not(.border-box) [class*="col-"].mar-r.pad-l {
	width: calc(calc(1 / var(--col) * 100%) - var(--mar-r) - var(--pad-l));
}

html:not(.border-box) [class*="col-"].mar-r.pad-l.pad-r {
	width: calc(calc(1 / var(--col) * 100%) - var(--mar-r) - var(--pad-r) - var(--pad-l));
}

html:not(.border-box) [class*="col-"].mar-l.pad-l.pad-r {
	width: calc(calc(1 / var(--col) * 100%) - var(--mar-l) - var(--pad-l) - var(--pad-r));
}

html:not(.border-box) [class*="col-"].mar-l.mar-r.pad-r {
	width: calc(calc(1 / var(--col) * 100%) - var(--mar-l) - var(--mar-r) - var(--pad-r));
}

html:not(.border-box) [class*="col-"].mar-l.mar-r.pad-l {
	width: calc(calc(1 / var(--col) * 100%) - var(--mar-l) - var(--mar-r) - var(--pad-l));
}

html:not(.border-box) [class*="col-"].pad-l.pad-r.mar-l.mar-r {
	width: calc(calc(1 / var(--col) * 100%) - var(--mar-l) - var(--mar-r) - var(--pad-l) - var(--pad-r));
}

/*$ END COLUMN CALCULATION WITH SPACING CLASSES $*/
/*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/
/*$ FLEXBOX $*/

/** FLEXBOX **/
.flex {
	display: flex;
}

/** FLEX WRAP */
.f-wrap {
	flex-wrap: wrap;
}

/** USE FLEXITEM AS A FLEXCONTAINER **/
.flex>.flex {
	display: inline-flex;
}

/** BREAKDOWN IN SINGLE COLUMN **/
.f-dir-col {
	flex-direction: column;
}

/** POSITON CONTENT CENTER ON X AXIS **/
.f-jc-center {
	justify-content: center;
}

/** POSITON CONTENT END ON X AXIS **/
.f-jc-end {
	justify-content: end;
}

/** POSITON CONTENT CENTER ON Y AXIS **/
.f-ai-center {
	align-items: center;
}

/** FLEX GROW **/
.grow {
	flex-grow: 1;
}

/*$ END FLEXBOX $*/
/*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/
/*$ PAGE */

main {
	padding: var(--site-gap-bg) 0 0 0;
}

section {
	padding: var(--site-gap) var(--site-gap-side-bg);
}

section .wrapper .section-description-box {
	margin: var(--length-large-2) auto;
}

/*$ END PAGE $*/
/*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/
/*$ RESPONSIVE $*/

/** MINIMUM WIDTH FOR EACH COLUMN **/
[class*="col-"] {
	min-width: 160px;
}

/*$ BREAKPOINTS MEDIA QUERY $*/

/** 1.392px **/
@media screen and (max-width: 87em) {	
	section {
		padding: var(--site-gap);
	}
}


/** 1.024px **/
@media screen and (max-width: 64em) {	
	section {
		padding: var(--site-gap-sm);
	}
}

/** 880px **/
@media screen and (max-width: 55em) {

	[class*="col-"] {
		--col: 1;
	}

	section > .wrapper.flex {
		flex-direction: column;
	}

}

/** SMALLEST REPRESENTATION **/
/** 480px **/
@media screen and (max-width: 30em) {

	section {
		padding: var(--site-gap-sm) var(--site-gap-x-sm);
	}

}

/*$ END RESPONSIVE $*/
/*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/