/*$ FONTS $*/

/* INTER  */
/* POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*$ END FONTS $*/
/*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/
/*$ VARIABLES $*/

:root {
	/** 1. COLOR PALETTE **/
	/*? https://coolors.co/ffffff-797979-999999-2e3033-222324-1a9df1 */
	/* MAIN COLORS */
	--main-color-1: #1A9DF1;
	--main-color-2: #2E3033;
	--main-color-3: #222324;
	
	/* SECONDARY COLORS */
	--gray: #999999;
	--dark-gray: #797979;
	--white: #FFFFFF;

	/* FONT COLORS */
	--color-font-text: var(--gray, #999999);
	--color-font-heading: var(--gray, #999999);
	--color-font-label: var(--white, #FFFFFF);

	/* BACKGROUND COLORS */
	--color-background-primary: var(--main-color-2, #2E3033);
	--color-background-secondary: var(--main-color3, #222324);
	--main-color-site: var(--main-color-1, #1A9DF1);
	/** END COLOR PALETTE **/

	/** 2. FONTS **/
	--font-fallback: sans-serif; /* Fallback */
	--font-family-text: 'Inter', var(--font-fallback);
	--font-family-heading: 'Inter', var(--font-fallback);
	--font-family-label: 'Poppins', var(--font-fallback);
	/** END FONTS **/

	/** 3. LABEL **/
	--label-color: var(--color-font-label, #FFFFFF);
	--label-font: var(--font-family-label, 'Poppins');
	/** END LABEL **/

	/** 4. ALL HEADINGS **/
	--heading-font: var(--font-family-heading, 'Inter');
	--heading-color: var(--color-font-heading, #999999);
	/** END ALL HEADINGS **/

	/** 5. LINKS / ANCHOR **/
	--link-height: 20px;
	--link-decoration: none;
	--link-decoration-hov: underline;
	--link-bg: none;
	/** END LINKS / ANCHOR **/

	/** 6. POSITION ELEMENTS **/
	--top: unset;
	--right: unset;
	--bottom: unset;
	--left: unset;
	/** END POSITION ELEMENTS **/

	/** 7. LENGTHS **/

	/* SMALL LENGTHS */
	--length-small-1: 0.25rem; /* 4px */
	--length-small-2: 0.375rem; /* 6px */
	--length-small-3: 0.5rem; /* 8px */
	--length-small-4: 0.75rem; /* 12px */

	/* MEDIUM LENGTHS */
	--length-medium-1: 1rem; /* 16px */
	--length-medium-2: 1.25rem; /* 20px */
	--length-medium-3: 1.375rem; /* 22px */
	--length-medium-4: 1.5rem; /* 24px */

	/* LARGE LENGTHS */
	--length-large-1: 2rem; /* 32px */
	--length-large-2: 3rem; /* 48px */
	--length-large-3: 4rem; /* 64px */
	--length-large-4: 5rem; /* 80px */

	/* EXTRA LARGE */
	--length-x-large-1: 6rem; /* 96px */
	--length-x-large-2: 8rem; /* 128px */
	--length-x-large-3: 10rem; /* 160px */
	/** END LENGTHS **/
}

/*$ END VARIABLES $*/
/*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/
/*$ HTML $*/

/** HTML ELEMENT **/
html {
	font-family: var(--font-family-text);
	font-size: clamp(1.125rem, calc(1.25vw + var(--length-medium-1)), var(--length-medium-2)); /* 18px to 20px */ 
	background: var( --color-background-secondary);
	color: var(--color-font-text);
	scroll-behavior: smooth;
	overflow-x: hidden;
	line-height: 1.3;
	/* hyphens: auto; */
}

/*$ END HTML $*/
/*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/
/*$ HEADINGS $*/

/** ALL HEADINGS **/
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-font-heading);
	font-family: var(--font-family-heading);
}

/*$ END HEADINGS $*/
/*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/
/*$ LISTS $*/

/** LISTS **/
ul,
ol {
	list-style: none;
}

/*$ END LISTS $*/
/*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/
/*$ INTERACTIVE ELEMENTS $*/

/** LINKS **/
a {
	color: var(--color-font-text);
	text-decoration: var(--link-decoration, none);
	display: inline-block;
	min-height: var(--link-height);
}

/** HOVERED LINKS **/
a:hover:not(nav a),
a:focus:not(nav a) {
	text-decoration: var(--link-decoration-hov, underline);
}

a:visited {
	color: var(--label-color, #FFFFFF);
	text-decoration: none;
}

/** NAVIGATION LINKS **/
nav li a {
	color: var(--label-color);
	display: block;
}

/** CALL 2 ACTION ELEMENTS **/
.btn {
	display: inline-block;
	background-color: var(--main-color-site, #1A9DF1);
	color: var(--label-color, #FFFFFF);
	font-weight: bold;
}

/** BUTTON ELEMENTE **/
.btn:hover,
.btn:focus {
	filter: brightness(85%);
}

[type="radio"],
[type="checkbox"] {
	width: auto;
}

/** DETAILS ELEMENT **/
details { 
	/* TODO REMOVE OR ADD STYLE TO PLACEHOLDER */
	--placeholder: none;
} 


/** SUMMARY ELEMENT **/
summary {
	/* TODO REMOVE OR ADD STYLE TO PLACEHOLDER */
	--placeholder: none;
} 


/*$ END INTERACTIVE ELEMENTS $*/
/*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/
/*$ IMAGES $*/

/** IMAGES IN GENERAL **/
/* Images are drawn on the baseline -> std: inline -> visible distance at bottom */
img {
	display: block;
}

/** PNG & GIF **/
/* Remove background color if transparent graphic format is used */
img[src$=".png"],
img[src$=".gif"] {
	background: none;
}

/** INTERACTIVE IMAGES **/
/* Minimum size for linked images on touchscreens / touch icons */
/* https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
a img {
	min-width: 44px;
	min-height: 44px;
}

/*$ END IMAGES $*/
/*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/
/*$ POSITIONING $*/

/** POSITON ALLGEMEIN **/
.pos {
/*? SIMPLY CHANGE THE VARIABLES FOR THE ELEMENT THAT GET THE CLASS WHERE THE ELEMENT SHOULD BE ?*/	
	top: var(--top);
	right: var(--right);
	bottom: var(--bottom);
	left: var(--left);
}

/** POSITON FIXED **/
.fix {
	position: fixed;
}

/** POSITON ABSOLUTE **/
.abs {
	position: absolute;
}

/** POSITON RELATIVE **/
.rel {
	position: relative;
}

/*$ ENDE POSITIONING $*/
/*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/
/*$ SCREENREADER $*/

/** SCREENREADER ONLY CLASS **/
/* ONLY FOR ELEMENTS WHOSE CONTENT SHOULD NOT BE VISIBLE TO THE NORMAL USER. */
/* BUT SHOULD BE "VISIBLE" FOR SCREEN READERS. */
.sr-only {
	position: absolute;
	height: 1px;
	width: 1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	white-space: nowrap;
}

/*$ END SCREENREADER $*/
/*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/
/*$ BOXSHADOW CLASS $*/

/** BOXSHADOW KLASSE **/
.box-shadow {
	/* https://html-css-js.com/css/generator/box-shadow/ */
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

/*$ ENDE BOXSHADOW CLASS $*/
/*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/
