/*$ VARIABLES $*/

:root {
  /** Z-INDEX **/
  --z-navigation: 1000;
  --z-menu: 500;
  --z-overlay: 100;
  /** END Z-INDEX **/
}

/*$ END VARIABLES $*/
/*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/
/*$ NAVBAR $*/

.nav-options {
  /* FONT */
  font-size: var(--length-medium-4, 1.5rem);
  font-weight: bold;

  /* SPACING */
  padding: var(--site-gap-x-sm) var(--site-gap);
  justify-content: space-between;

  /* POSITIONING */
  --left: 0;
  --top: 0;
  --right: 0;
  z-index: var(--z-navigation);
}

.navigation {

  /* FONT */
  font-size: var(--length-medium-4, 1.5rem);
  font-weight: bold;

  /* SPACING */
  padding: var(--site-gap-x-sm) var(--site-gap);
  justify-content: space-between;

  /* POSITIONING */
  --top: 0;
  --right: 0;
  z-index: var(--z-menu);
}

/* WHEN PAGE IS SCROLLED */
.active-navbar {
  transition:
    background-color 250ms ease,
    box-shadow 250ms ease 150ms;

  background-color: var(--color-background-secondary);

  box-shadow:
    0px 1px 10px rgba(20, 20, 20, 0.5),
    0px 2px 10px rgba(20, 20, 20, 0.5),
    0px 3px 15px rgba(20, 20, 20, 0.5),
    0px 4px 35px rgba(20, 20, 20, 0.5);
}


/*$ END NAVBAR $*/
/*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/
/*$ NAVIGATION LOGO $*/

.navigation-logo a {
  --test: ;
}

.logo {
  color: var(--label-color);

  z-index: var(--z-navigation);
}

/*$ END NAVIGATION LOGO $*/
/*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/
/*$ HAMBURGER BUTTON */

.menu-toggle-button {
  display: none;

  z-index: var(--z-navigation);
}

/*$ END HAMBURGER BUTTON */
/*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/
/*$ MENU LIST LAYOUT $*/

#menu {
  /* FLEXEIGENSCHAFTEN */
  justify-content: space-around;

  /* SPACING */
  gap: var(--length-medium-4);

  /* ANIMATION */
  transition: none;

  /* POSITIONIERUNG */
  z-index: -1000;

  background-color: var(--color-background-primary);
}

#menu li {
  margin: 4px;
}

/*$ END MENU LIST LAYOUT $*/
/*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/
/*$ MEDIA QUERYS $*/

/*	TODO---------------------------------------------------------------------------------------------TODO*/
/*	TODO								SETUP MEDIA QUERIES FOR FINAL LAYOUT 						-TODO*/
/*	TODO---------------------------------------------------------------------------------------------TODO*/

/** ALWAYS STATE MEDIA QUERIES IN EM. DUE TO RESOLUTION OF DEVICES (RETINA DISPLAYS) **/
/** 1008px **/
@media screen and (max-width: 55em) {

  /*$ HAMBURGER BUTTON */

  /** BUTTON STYLING */
  .menu-toggle-button {
    display: inline-block;
    background: none;
    border: none;
    fill: #fff;
    transition: color 400ms ease;
  }

  /** END BUTTON STYLING */

  /** BUTTON ACTIVE STYLING */
  .menu-toggle-button:hover,
  .menu-toggle-button:focus {
    fill: var();
    cursor: pointer;
  }

  /** END BUTTON ACTIVE STYLING */

  /** BUTTON ANIMATION STYLING */
  .menu-toggle-button .line {
    transition:
      transform 300ms ease-out 300ms,
      rotate 300ms ease-in,
      opacity 0ms 300ms;
    transform-origin: center;
  }

  .menu-toggle-button[aria-expanded="true"] .line {
    transition:
      transform 300ms ease-in,
      rotate 300ms ease-in 300ms,
      opacity 0ms 300ms;
  }

  /** BUTTON ANIMATION STYLING */

  /** BUTTON ANIMATION STEPS */
  /* 1. MOVE TOP AND BOTTOM TO MIDDLE */
  .menu-toggle-button[aria-expanded="true"] .hamburger-top {
    transform: translateY(20px);
  }

  .menu-toggle-button[aria-expanded="true"] .hamburger-bottom {
    transform: translateY(-20px);
  }

  /* 2. HIDE MIDDLE ELEMENT */
  .menu-toggle-button[aria-expanded="true"] .hamburger-middle {
    opacity: 0;
  }

  /* 3. ROTATE TOP AND BOTTOM TO X */
  .menu-toggle-button[aria-expanded="true"] .hamburger-top {
    rotate: 45deg;
  }

  .menu-toggle-button[aria-expanded="true"] .hamburger-bottom {
    rotate: -45deg;
  }

  /** END BUTTON ANIMATION STEPS */

  /*$ END HAMBURGER BUTTON */
  /*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/
  /*$ MENU PAGE LAYOUT $*/

  #menu {
    /* POSITIONING */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;

    box-shadow:
      0px 1px 10px rgba(20, 20, 20, 0.5),
      0px 2px 10px rgba(20, 20, 20, 0.5),
      0px 3px 15px rgba(20, 20, 20, 0.5),
      0px 4px 35px rgba(20, 20, 20, 0.5);
  }

  #menu[aria-expanded="true"] {
    transform: translate3d(0, 0, 0);
  }

  #menu[aria-expanded="false"] {
    transform: translate3d(0%, -105%, 0);
  }

  /*$ END MENU PAGE LAYOUT $*/

}

/*$ END RESPONSIVE $*/
/*!-----------------------------------------------------------------------------------------------------------------------------------------------!*/