/* ====================================================== */
/* ==================== GOOGLE FONTS ==================== */
/* ====================================================== */


  /* POPPINS -> MAIN FONT */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');



/* ========================================================== */
/* ==================== END GOOGLE FONTS ==================== */
/* ========================================================== */






/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */






/* ============================================================ */
/* ==================== DEFINING VARIABLES ==================== */
/* ============================================================ */



  :root {
    /* =============== COLOR OPTIONS =============== */
    /** Standard colors **/
    --white: hsl(0, 0, 100%);
    --black: hsl(0, 0, 0%);


    /** Specific site colors **/
      --main-blue-color: hsl(203, 88%, 52%);
      --main-blue-color-hover: hsl(203, 88%, 25%);
      --main-white-color: #fff;
      --main-white-color-hover: hsl(0, 0%, 90%);
      --title-color: hsl(0, 0%, 100%);
      --subtitle-color: hsl(0, 0%, 83%);
      --description-color: hsl(0, 0%, 69%);
      --body-background-color: #2e3033;
      --body-background-color-lighter: hsl(216, 5%, 25%);
    /* =============== END COLOR OPTIONS =============== */



    /* =============== FONT OPTIONS =============== */
    /** Families **/
      --main-font: 'Poppins', sans-serif;

    /** Sizes **/
      --large-font-size: 2rem;
      --h1-font-size: 1.5rem;
      --h2-font-size: 1.25rem;
      --h3-font-size: 1.125rem;
      --normal-font-size: 1rem;
      --small-font-size: .8rem;
      --smallest-font-size: .75rem;

    /** Weight **/
      --font-weight-regular: 400;
      --font-medium: 500;
      --font-weight-semi-bold: 600;
      --font-bold: 700;
      --font-weight-extra-bold: 800;
    /* =============== END FONT OPTIONS =============== */



    /* =============== MARGIN OPTIONS =============== */
      --mrgn-0-25: .25rem;
      --mrgn-0-5: .5rem;
      --mrgn-0-75: .75rem;
      --mrgn-1: 1rem;
      --mrgn-1-5: 1.5rem;
      --mrgn-2: 2rem;
      --mrgn-2-5: 2.5rem;
      --mrgn-3: 3rem;
    /* =============== END MARGIN OPTIONS =============== */



    /* =============== Z-INDEX OPTIONS =============== */
      --layer-1: 10;
      --layer-2: 100;
      --layer-3: 1000;
      --menu-layer: 2000;
      --nav-layer: 10000;
    /* =============== Z-INDEX OPTIONS =============== */
  }



/* ================================================================ */
/* ==================== END DEFINING VARIABLES ==================== */
/* ================================================================ */






/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */






/* ========================================================== */
/* ==================== SETUP BASE STYLE ==================== */
/* ========================================================== */



  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }



  /* =============== CUSTOM SCROLL BAR =============== */

  /* TODO -> CUSTOM SCROLLBARS FOR DIFFERENT BROWSERS*/
  html {
    scrollbar-width: thin;
    scrollbar-color: hsl(216, 5%, 40%) hsl(216, 5%, 19%);
  }

  /* =============== END CUSTOM SCROLL BAR =============== */



  body {
    background-color: var(--body-background-color);
    font-family: var(--main-font);
    color: var(--main-white-color);
  }

  h1,
  h2,
  h3,
  h4 {
    color: var(--title-color);
    font-weight: var(--font-weight-semi-bold);
  }

  a, a:visited {
    text-decoration: none;
    color: var(--main-white-color);
  }

  ul {
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }



/* ============================================================== */
/* ==================== END SETUP BASE STYLE ==================== */
/* ============================================================== */






/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */






/* =============================================================== */
/* ==================== REUSEABLE CSS CLASSES ==================== */
/* =============================================================== */



  .blue {
    color: var(--main-blue-color);
  }

  .section {
    padding-block: 75px;
    height: 100vh;
  }

  /* TODO SET THE SIZES FOR DIFFERENT SCREEN SIZES SO 100% IS OVERRIDDEN -> IN MEDIA QUERIES ON THE PAGES STYLE*/
  .container {
    width: 100%;
    margin-inline: auto; /** inline -> left + right **/
  }

  @media screen and (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }

  .large {
    height: 100svh;
  }

  .lighter-gray {
    background-color: var(--body-background-color-lighter);
  }

  .display-flex {
    display: flex;
  }

  .justify-content-center {
    justify-content: center;
  }

  .align-content-center {
    align-content: center;
  }

  .align-items-center {
    align-items: center;
  }

  .text {
    color: var(--subtitle-color);
    /* font-size: clamp(.95rem, 2vw, 1.5rem); */
    font-weight: var(--font-weight-regular);
  }

  @media screen and (min-width: 768px) {
    .text {
      font-size: clamp(1rem, 5vw, 1.10rem);
    }
  }


/* =================================================================== */
/* ==================== END REUSEABLE CSS CLASSES ==================== */
/* =================================================================== */






/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */






/* ======================================================== */
/* ==================== NAVIGATION BAR ==================== */
/* ======================================================== */



  /* =============== LAYOUT AND POSITION =============== */
    .navigation {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      z-index: var(--nav-layer);
      overflow: hidden;
      padding-block: .5rem;
      padding-inline: 4rem;
      
    }
  /* =============== END LAYOUT AND POSITION =============== */


  /* =============== STYLING =============== */
    .logo {
      font-size: 2rem;
      font-weight: 800;
      user-select: none;
      cursor: pointer;
    }

    .active-navbar {
      transition: background-color 250ms ease,
                  box-shadow 250ms ease 150ms;
      background-color: var(--body-background-color-lighter);
      box-shadow:
        0px 1px 10px rgba(20, 20, 20, 0.5),
        0px 2px 10px rgba(20, 20, 20, 0.5),
        0px 3px 15px rgba(20, 20, 20, 0.5),
        0px 4px 35px rgba(20, 20, 20, 0.5);
    }

  /* =============== END STYLING =============== */



/* ============================================================ */
/* ==================== END NAVIGATION BAR ==================== */
/* ============================================================ */






/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */






/* ========================================================== */
/* ==================== HAMBURGER BUTTON ==================== */
/* ========================================================== */



  /* =============== LAYOUT, POSITION, STYLING =============== */
    .menu-toggle-button {
      position: absolute;
      background: transparent;
      border: none;
      fill: #fff;
      z-index: var(--layer-3);
      top: 0;
      right: 4rem;
      transition: color 400ms ease;
    }

    .menu-toggle-button:hover {
      fill: var(--main-blue-color);
      cursor: pointer;
    }

    .menu-toggle-button .line {
      transition:
        transform 300ms ease-out 300ms,
        rotate 300ms ease-in,
        opacity 0ms 300ms;
      transform-origin: center;
    }

    .menu-toggle-button[aria-expanded="true"] .line {
      transition:
        transform 300ms ease-in,
        rotate 300ms ease-in 300ms,
        opacity 0ms 300ms;
    }
    
  /* =============== END LAYOUT, POSITION, STYLING =============== */



  /* =============== ANIMATING THE BUTTON =============== */
    /** first element **/
    .menu-toggle-button[aria-expanded="true"] .hamburger-top {
      transform: translateY(20px);
    }

    /** second element **/
    .menu-toggle-button[aria-expanded="true"] .hamburger-bottom {
      transform: translateY(-20px);
    }

    /** third element **/
    .menu-toggle-button[aria-expanded="true"] .hamburger-top {
      rotate: 45deg;
    }

    /** fourth element **/
    .menu-toggle-button[aria-expanded="true"] .hamburger-middle {
      opacity: 0;
    }

    /** fifth element **/
    .menu-toggle-button[aria-expanded="true"] .hamburger-bottom {
      rotate: -45deg;
    }
  /* =============== END ANIMATING THE BUTTON =============== */



/* ============================================================== */
/* ==================== END HAMBURGER BUTTON ==================== */
/* ============================================================== */



/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */



/* =================================================== */
/* ==================== MENU PAGE ==================== */
/* =================================================== */



  /* =============== MENU PAGE LAYOUT =============== */
    #menu {
      user-select: none;
      position: fixed;
      inset: 0;
      height: 100svh;
      align-items: center;
      overflow: hidden;
      transition: transform 1.35s cubic-bezier(.61,.16,0,1.22);
      z-index: var(--menu-layer); /*2000*/
      box-shadow:
        0px 1px 10px rgba(20, 20, 20, 0.5),
        0px 2px 10px rgba(20, 20, 20, 0.5),
        0px 3px 15px rgba(20, 20, 20, 0.5),
        0px 4px 35px rgba(20, 20, 20, 0.5);
    }
  /* =============== END MENU PAGE LAYOUT =============== */



  /* =============== STYLING =============== */
    .menu-item {
      font-size: clamp(2.75rem, 8vw, 4rem); /* variable size */
      display: block;
      text-shadow:
        1px 1px 0px #343434,
        2px 2px 15px #343434;
    }

    #menu-items {
      margin-left: clamp(1.75rem, 15vw, 48rem);
      z-index: var(--layer-2); /* 100 */
    }

    #menu-background-pattern {
      height: 100vh;
      width: 100vw;

      background-color: #2e3033;
      background-image: radial-gradient(rgba(255, 255, 255, 0.1) 9%, transparent 0%); 
      background-size: 9vmin 9vmin;
      background-position: 0% 0%;

      position: absolute;
      top: 0px;
      left: 0px;
      z-index: var(--layer-1); /* 100 */
    }
  /* =============== END STYLING =============== */



  /* =============== MENU POSITIONING FOR FADE IN ANIMATION =============== */
    /** menu is open -> default position **/
    #menu[aria-expanded="true"] {
      transform: translate3d(0, 0, 0);
      
    }


    /** menu is closed -> shifted position **/
    #menu[aria-expanded="false"] {
      transform: translate3d(0%, -102.5%, 0); /* 102.5 so that box shadow is hidden too */
    }
  /* =============== END MENU POSITIONING FOR FADE IN ANIMATION =============== */



  /* =============== MENU ITEMS HOVER ANIMATION =============== */
    .menu-item {
      transition:
        opacity 400ms ease,
        color 400ms infinite;
    }

    #menu-items:hover>.menu-item {
      opacity: 0.6;
    }

    #menu-items:hover>.menu-item:hover {
      opacity: 1;
      color: var(--main-blue-color);
    }

    #menu-background-pattern {
      transition:
        background-size 800ms ease,
        background-position 800ms ease;
    }
  /* =============== END MENU ITEMS HOVER ANIMATION =============== */



  /* =============== MENU BACKGROUND POSITON FOR ANIMATION =============== */
    /** properties to move background to the hovered link**/
    #menu-items:hover~#menu-background-pattern {
      background-size: 8vmin 8vmin;
    }

    #menu[data-active-index="0"] > #menu-background-pattern {
      background-position: 0% -20%;
    }

    #menu[data-active-index="1"] > #menu-background-pattern {
      background-position: 0% -40%;
    }

    #menu[data-active-index="2"] > #menu-background-pattern {
      background-position: 0% -60%;
    }

    #menu[data-active-index="3"] > #menu-background-pattern {
      background-position: 0% -80%;
    }

    #menu[data-active-index="4"] > #menu-background-pattern {
      background-position: 0% -100%;
    }
  /* =============== END MENU BACKGROUND POSITON FOR ANIMATION =============== */



/* ======================================================= */
/* ==================== END MENU PAGE ==================== */
/* ======================================================= */






/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */






/* ====================================================== */
/* ==================== MAIN CONTENT ==================== */
/* ====================================================== */



    /* =============== LAYOUT HOME PAGE =============== */
      /* .main {
      
      } */
    /* =============== END LAYOUT HOME PAGE =============== */



  /* ========================================= */
  /* =============== HOME PAGE =============== */
  /* ========================================= */



    /* =============== LAYOUT HOME PAGE =============== */
      .home-section {
        height: 100svh;
      }
      /** MAIN CONTAINER **/
      .home {
        height: 100%;
        flex-direction: column-reverse;
        user-select: none;
      }

      /** SOCIALS LAYOUT **/
      /** PERSON DESCRIPTION LAYOUT **/
      .person-description {
        flex-direction: column;
        padding-inline: clamp(.5rem, 4vw, 1.5rem);
      }

      .socials {
        flex-direction: row;
        margin-top: clamp(3rem, 10vw, 4.5rem);
        overflow: hidden;
      }
    /* =============== END LAYOUT HOME PAGE =============== */



    /* =============== STYLING HOME PAGE ELEMENTS =============== */

      /* ========== SOCIAL MEDIA ITEMS ========== */
      .social-item {
        margin-inline: clamp(1.5rem, 6vw, 2.5rem);
        z-index: var(--layer-2);
        transition: color 400ms ease;
        padding: 5px;
      }

      /** hovering social media element **/
      .social-item:hover {
        color: var(--main-blue-color);
        cursor: pointer;
      }

      /** social media icons **/
      .si-icons {
        font-size: clamp(1.75rem, 7vw, 2.25rem);
      }
      /* ========== END SOCIAL MEDIA ITEMS ========== */



      /* ========== PERSON DESCRIPTION ========== */
      .person-name {
        color: var(--title-color);
        font-size: clamp(2.75rem, 11vw, 6rem);
        font-weight: var(--font-weight-extra-bold);
      }

      .person-job {
        color: var(--subtitle-color);
        font-size: clamp(1.65rem, 5vw, 3rem);
        font-weight: var(--font-weight-semi-bold);
      }

      .person-bio {
        color: var(--description-color);
        font-size: clamp(.95rem, 2vw, 1.5rem);
        font-weight: var(--font-weight-regular);
      }
      /* ========== END PERSON DESCRIPTION ========== */

    /* =============== END STYLING HOME PAGE ELEMENTS =============== */



    /* =============== MEDIA QUERIES HOME PAGE =============== */

      @media screen and (min-width: 768px) {

        /* =============== LAYOUT HOME PAGE =============== */
          /** MAIN CONTAINER **/
          .home {
            flex-direction: row;
            justify-content: flex-start;
          } 
        
          /** SOCIALS LAYOUT **/
          /** PERSON DESCRIPTION LAYOUT **/
          .socials,
          .person-description {
            flex-direction: column;
            padding: 0;
          }
        
          .person-description {
            padding-inline: 0;
            max-width: 47rem;
            flex-shrink: 1;
          }
        
          .socials {
            align-items: center;
            flex-shrink: 0;
            margin-top: 0;
            margin-inline: clamp(.5rem, 3vw, 5rem);
          }
        /* =============== END LAYOUT =============== */



        /* =============== STYLING =============== */

          /* ========== SOCIAL MEDIA ITEMS ========== */
          .social-item {
            flex-basis: 50px;
            margin-block: 1rem;
            align-self: center;
            /** top and bottom **/
          }

          /** social items icons **/
          .si-icons {
            font-size: clamp(2rem, 6vw, 2.5rem);
          }
          /* ========== END SOCIAL MEDIA ITEMS ========== */



          /* ========== PERSON DESCRIPTION ========== */
          .person-name {
            font-size: clamp(3rem, 11vw, 6rem);
          }

          .person-job {
            font-size: clamp(2rem, 5vw, 3rem);
          }

          .person-bio {
            font-size: clamp(1rem, 2.5vw, 1.5rem);
          }
          /* ========== END PERSON DESCRIPTION ========== */

        /* =============== END STYLING =============== */
        
      }



  /* ============================================= */
  /* =============== END HOME PAGE =============== */
  /* ============================================= */






/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */






  /* ============================================= */
  /* =============== ABOUT ME PAGE =============== */
  /* ============================================= */




  /* ================================================= */
  /* =============== END ABOUT ME PAGE =============== */
  /* ================================================= */






/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */






  /* =========================================== */
  /* =============== SKILLS PAGE =============== */
  /* =========================================== */


  /* =============================================== */
  /* =============== END SKILLS PAGE =============== */
  /* =============================================== */






/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */






  /* ============================================== */
  /* =============== PORTFOLIO PAGE =============== */
  /* ============================================== */

  /* ================================================== */
  /* =============== END PORTFOLIO PAGE =============== */
  /* ================================================== */






/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */






  /* =============================================== */
  /* =============== CONTACT ME PAGE =============== */
  /* =============================================== */


  /* =================================================== */
  /* =============== END CONTACT ME PAGE =============== */
  /* =================================================== */






/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */
/* !======================================================================================================================================================! */


/* ========================================================== */
/* ==================== END MAIN CONTENT ==================== */
/* ========================================================== */