

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.active-navbar {
  transition: background-color 250ms ease,
              box-shadow 250ms ease 150ms;
  background-color: var(--body-background-color-lighter);
  box-shadow:
    0px 1px 10px rgba(20, 20, 20, 0.5),
    0px 2px 10px rgba(20, 20, 20, 0.5),
    0px 3px 15px rgba(20, 20, 20, 0.5),
    0px 4px 35px rgba(20, 20, 20, 0.5);
}

.menu-toggle-button {
  position: absolute;
  background: transparent;
  border: none;
  fill: #fff;
  z-index: var(--layer-3);
  top: 0;
  right: 4rem;
  transition: color 400ms ease;
}

.menu-toggle-button:hover {
  fill: var(--main-blue-color);
  cursor: pointer;
}

.menu-toggle-button .line {
  transition:
    transform 300ms ease-out 300ms,
    rotate 300ms ease-in,
    opacity 0ms 300ms;
  transform-origin: center;
}

.menu-toggle-button[aria-expanded="true"] .line {
  transition:
    transform 300ms ease-in,
    rotate 300ms ease-in 300ms,
    opacity 0ms 300ms;
}

/* =============== END LAYOUT, POSITION, STYLING =============== */



/* =============== ANIMATING THE BUTTON =============== */
/** first element **/
.menu-toggle-button[aria-expanded="true"] .hamburger-top {
  transform: translateY(20px);
}

/** second element **/
.menu-toggle-button[aria-expanded="true"] .hamburger-bottom {
  transform: translateY(-20px);
}

/** third element **/
.menu-toggle-button[aria-expanded="true"] .hamburger-top {
  rotate: 45deg;
}

/** fourth element **/
.menu-toggle-button[aria-expanded="true"] .hamburger-middle {
  opacity: 0;
}

/** fifth element **/
.menu-toggle-button[aria-expanded="true"] .hamburger-bottom {
  rotate: -45deg;
}
/* =============== END ANIMATING THE BUTTON =============== */


/* =============== MENU PAGE LAYOUT =============== */
#menu {
  user-select: none;
  position: fixed;
  inset: 0;
  height: 100svh;
  overflow: hidden;
  transition: transform 1.35s cubic-bezier(.61, .16, 0, 1.22);
  z-index: var(--menu-layer); /*2000*/
  box-shadow:
    0px 1px 10px rgba(20, 20, 20, 0.5),
    0px 2px 10px rgba(20, 20, 20, 0.5),
    0px 3px 15px rgba(20, 20, 20, 0.5),
    0px 4px 35px rgba(20, 20, 20, 0.5);
}


/** menu is open -> default position **/
#menu[aria-expanded="true"] {
  transform: translate3d(0, 0, 0);
}
/** menu is closed -> shifted position **/
#menu[aria-expanded="false"] {
  transform: translate3d(0%, -102.5%, 0); /* 102.5 so that box shadow is hidden too */
}
